/**
 *  Bare default theme https://github.com/cypnk/Bare
 */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

article, aside, footer, header, nav, section, blockquote {
	display: block;
}

body {
	font: 400 1rem sans-serif;
	line-height: 1.8rem;
	color: #37474f;
	background: #f7f7fa;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	margin: 2rem 0 .5rem 0;
	font-family: Georgia, serif;
	line-height: 1.4;
}

header h1 {
	margin-bottom: 0;
	font-size: 2rem;
}

h1, h2, h3 { font-weight: 400; }
h1 { font-size: 2.55rem; }
h2 { font-size: 2.25rem; }
header h2, h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: .875rem; }

header h2 {
	color: #555;
	margin-bottom: 0;
}

p { margin: 1rem 0; }

header p { margin: 0 }
header p + p { margin-top: 1rem; }
article p + p { margin-top: 2rem; }

header p.links { text-align: center; }

header {
	text-align: center;
	color: #2c3e50;
}

main article:first-child, article + article, footer {
	margin-top: 2rem;
	border-top: 1px solid #ddd;
}

article + article {
	border-width: 2px 0 0 0;
	border-style: dashed;
}

a {
	text-decoration: underline;
	text-decoration-skip: ink;
	color: #2c3e50;
}

time, header .readtime {
	text-transform: uppercase;
	font-size: .9rem;
	letter-spacing: .07rem;
	color: #607d8b;
}

header .readtime:before {
	content: ' | ';
}

footer {
	font-size: .875rem;
	text-align: center;
	padding: 1rem 0;
}

header a, header a:visited {
	text-decoration-skip: none;
	color: #2c3e50;
}

article header a, header h1 a {
	text-decoration: none;
}

.content {
	padding:0 1rem;
	margin: 0 auto;
	max-width: 45rem;
}

.cover { background-size: cover !important; }
.contain { background-size: contain !important; }

.full, .media {
	width: 100%;
	display: block;
}

.media {
	text-align: center;
	margin: 2rem auto;
}

hr { 
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em
}

code {
	background: #f5f5f5;
}

pre {
	display: block;
	margin: 1rem 0;
	overflow: scroll;
}

pre code {
	margin: 0;
	display: block;
	padding: 1rem;
}

img, a img { 
	max-width: 100%; border: none; 
}

article img, article figure {
    display: block;
    height: auto;
    width: 100%;
    padding: .5rem;
    border: 1px solid #dcdcdc;
    margin: 1em auto;
}

article figure img {
	border: 0;
	padding: 0;
	margin: 0;
}

figcaption {
	font-style: italic;
	font-size: 90%;
	margin: 1rem 0;
	line-height: 1.3em;
}

.center {
    display: block;
    text-align: center
}

ul, ol {
	margin: 1em 0 1em 2em;
	line-height: 1.5em;
}

ul li, ol li {
	padding: .2rem .5rem;
}

nav ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

nav ul li a {
	padding: .3rem .4rem;
}

nav.main {
	text-align: center;
}

nav.siblings, nav.related, nav.related ul li + li {
	margin-top: 1rem;
}

nav.siblings ul li + li {
	float: right;
}

nav.related ul li {
	display: block;
}

nav.tags {
	line-height: 1;
	font-size: 90%;
}

article nav.tags {
	text-align: right;
}

nav ul {
	margin: 0;
	list-style: none;
}

nav.tags ul {
	display: inline-block;
}

nav.tags ul li {
	margin: 0;
}

nav.tags ul li + li {
	margin-left: 1rem;
}

ul.index {
	margin: 1rem 0;
	list-style: none;
	margin-bottom: 1rem;
}

ul.index li + li {
	margin-top: 1rem;
}

ul.index li time, ul.index li .readtime {
	display: block;
}

ul.index li .readtime {
	font-size: 90%;
}

ul.index li nav.tags ul, ul.index li nav.tags ul li {
	margin: 0;
} 

nav.main ul {
	display: inline-block;
	margin: 0 auto;
}

ul.index li nav ul {
	margin-top: 0;
	padding: 0;
}

blockquote {
	margin: 0 auto;
	width: 80%;
	color: #546e7a;
}

form {
	margin: .5rem 0;
}

input {
	padding: .2rem 1rem;
	font: inherit;
	color: inherit;
	line-height: inherit;
}

input[type="submit"] {
	cursor: pointer;
	background: #dcdcdc;
	border: 1px solid #dcdcdc;
}

input[type="search"] {
	appearance: textfield;
	background: #fff;
	border: 1px solid #dcdcdc;
}


